<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-md bg-info navbar-dark text-light">
    <a th:href="@{/home}" class="navbar-brand"><h3><i class="fas fa-book"></i></h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNav">
        <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="myNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a th:href="@{/home}"class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/authors}"class="nav-link">Authors</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/list-books}" class="nav-link">Books</a>
                </li>
            </ul>
        </div>
</nav>
</body>
</html>